.products {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.product_img_content {
  height: 220px;
}

.product_img_content img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product_img_content .product_img_content_side {
  top: 0;
  left: 0;
  background-color: rgb(232, 232, 232);
  padding: 8px 4px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-radius: 10px;
}
.product_img_content .product_img_content_side .product_icon {
  color: black;
  font-size: 13px;
  cursor: pointer;
}

.product_content {
  padding: 0px 10px;
}
.product_content .product_txt {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 50px;
}
.product_content .product_price {
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  left: 5%;
}
