.modal {
  position: fixed;
  z-index: 300;
  background-color: #f8cbf8;
  border-radius: 5px;
  width: 45%;
  top: 4%;
  left: 24%;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-out;
  box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.24);
}

.modal h3 {
  color: #000;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.06em;
  user-select: none;
}

.modal ul {
  margin: 20px;
  padding: 0;
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, auto));
  grid-gap: 10px;
}

.modal ul li {
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
  background-image: linear-gradient(
    rgb(241, 122, 241),
    rgb(233, 92, 233),
    rgb(225, 152, 225)
  );
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 5px 0px rgba(241, 122, 241, 0.3);
}

.modal p {
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}

@media (max-width: 60rem) {
  .modal {
    width: 38%;
    left: 27%;
  }
}

@media (max-width: 860px) {
  .modal {
    width: auto;
    left: 33%;
  }
}

@media (max-width: 660px) {
  .modal {
    left: 20%;
  }
}

@media (max-width: 415px) {
  .modal {
    left: 10%;
  }
}
