.btn {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 6px;
  font: inherit;
  color: #fff;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.success {
  background: #388e3c;
}

.danger {
  background: #de2f2f;
}
