.controls {
  max-width: 1200px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  grid-gap: 1rem;
}

/* check list button */
.checkout {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 60;
}

.checkout button {
  padding: 8px 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #ee82ee;
  color: #fff;
  font-size: 17px;
  box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  letter-spacing: 0.03em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.checkout button:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.24);
}

@media (max-width: 1115px) {
  .controls {
    max-width: 1000px;
  }
}
@media (max-width: 1017px) {
  .controls {
    max-width: 900px;
  }
}
@media (max-width: 900px) {
  .controls {
    max-width: 800px;
  }
}

@media (max-width: 715px) {
  .controls {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .controls {
    max-width: 400px;
  }
}

@media (max-width: 415px) {
  .controls {
    max-width: 250px;
  }
}
